<ion-header>
    <ion-navbar>
        <ion-title>OV Finder</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1 padding>Find Your Location:</h1>
    <div #map id="map" style="height:300px"></div> 

    <ion-list>
        <ion-card *ngFor="let store of (beers | async)?.result">
            <div #map id="map"></div>
            <button ion-item (click)="openOVDetails(store)">
                <ion-card-content>
                    <ion-card-title>
                        {{ store.name }}
                    </ion-card-title>
                    <p>
                        {{ formatStoreAddress(store) }}
                    </p>
                    <p>
                        Distance: {{ convertMetersToKM(store) }}
                    </p>
                    <p>
                        Quantity: {{store.quantity }}
                    </p>
                </ion-card-content>
            </button>
        </ion-card>
    </ion-list>
    <!-- <ion-list>
        <ion-item *ngFor="let person of people">
          <ion-avatar item-left>
            <img src="{{person.picture.thumbnail}}">
          </ion-avatar>
          <h2>{{person.name.first}} {{person.name.last}}</h2>
          <p>{{person.email}}</p>
        </ion-item>
      </ion-list> -->
</ion-content>